<main class="main">
    <div class="baby__yoda">
        <div class="complete__head">
            <div class="left__ear">
                <div class="left__ear__inside"></div>
            </div>
            <div class="head">
                <div class="eyes eyes__close">
                    <div class="left__eye">
                        <div class="left__inside">
                            <div class="left__eye__inside1"></div>
                            <div class="left__eye__inside2"></div>
                        </div>
                    </div>
                    <div class="right__eye">
                        <div class="right__inside">
                            <div class="right__eye__inside1"></div>
                            <div class="right__eye__inside2"></div>
                        </div>
                    </div>
                </div>
                <div class="mouth">
                    
                </div>
            </div>
            <div class="right__ear">
                <div class="right__ear__inside"></div>
            </div>
        </div>
        <div class="complete__body">
            <div class="neck"></div>
            <div class="body">
                <div class="floating">
                    <div class="body__inside">
                        <div class="left__hand">
                            <div class="left__hand__inside"></div>
                        </div>
                        <div class="food"></div>
                        <div class="right__hand">
                            <div class="right__hand__inside"></div>
                        </div>
                    </div>
                </div>
                <div class="coat__detail"></div>
            </div>
        </div>
        <div class="baby__shadow"></div>
    </div>
    <div class="mandaloriano">
        <div class="complete__header tossing">
            <div class="mask"></div>
            <div class="bottom__header">
                <div class="left__circle">
                    <div class="circle"></div>
                </div>
                <div class="middle__circle"></div>
                <div class="right__circle">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <div class="complete__body">
            <div class="left__arm__complete">
                <div class="left__shoulder"></div>
                <div class="left__shooter"></div>
                <div class="left__arm"></div>
                <div class="left__hand"></div>
            </div>
            <div class="body__mando">
                <div class="pentagon"></div>
                <div class="pentagon2"></div>
                <div class="pectoral">
                    <div class="triangle__right"></div>
                    <div class="rectangle"></div>
                    <div class="triangle__left"></div>
                </div>
                <div class="belt">
                    <div class="belt__weapon"></div>
                    <div class="belt__weapon"></div>
                    <div class="belt__weapon"></div>
                    <div class="belt__weapon"></div>
                    <div class="belt__weapon"></div>
                    <div class="belt__weapon"></div>
                    <div class="belt__weapon"></div>
                    <div class="belt__weapon"></div>
                    <div class="belt__weapon"></div>
                    <div class="belt__weapon"></div>
                    <div class="belt__weapon"></div>
                    <div class="belt__weapon"></div>
                    <div class="belt__weapon"></div>
                    <div class="belt__weapon"></div>
                    <div class="belt__weapon"></div>
                </div>
            </div>
            <div class="right__arm__complete subebrazo">
                <div class="right__shoulder"></div>
                <div class="right__shooter"></div>
                <div class="right__arm"></div>
                <div class="right__hand"></div>
            </div>
        </div>
        <div class="complete__legs">
            <div class="left__leg">
                <div class="left__armor"></div>
                <div class="left__foot"></div>
            </div>
            <div class="right__leg">
                <div class="right__armor"></div>
                <div class="right__foot"></div>
            </div>
        </div>
        <div class="mando__shadow"></div>
    </div>
</main>