//COLORS
//BABY YODA
$yoda-color:  #67a078;
$yoda-ear-inside: #fce5fb;
$yoda-eye: black;
$yoda-eye-inside: white;
$yoda-neck: #c4bfb0;
$yoda-body: #a48068;
$yoda-food:#593432;
$yoda-coat-detail: #8d6c59;
//MANDALORIANO
$mando-background: grey;
$mando-mask: black;
$mando-mask-part: rgb(206, 206, 206);
$mando-belt: rgb(41, 41, 41);